# Temp files
.DS_Store
*~

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
__pycache__/
.ruff_cache/
/.pytest_cache/
/.cache/
/data/
/node_modules/

# IDEs
/.idea/
/.vscode/
