repos:
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.0.0-alpha.6 # Only update together with the pre-commit yaml in the tempalate!
      hooks:
          - id: prettier
            # Newer versions of node don't work on systems that have an older version of GLIBC
            # (in particular Ubuntu 18.04 and Centos 7)
            # EOL of Centos 7 is in 2024-06, we can probably get rid of this then.
            # See https://github.com/scverse/cookiecutter-scverse/issues/143 and
            # https://github.com/jupyterlab/jupyterlab/issues/12675
            language_version: "17.9.1"
