repos:
  # Hooks that are run everywhere
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8 # Only update together with the pre-commit yaml in the tempalate!
    hooks:
      - id: prettier
  # Hooks that are run for scripts
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/
  - repo: https://github.com/redeboer/taplo-pre-commit
    rev: v0.9.1rc1
    hooks:
      - id: taplo
        files: ^scripts/
