repos:
  # Hooks that are run everywhere
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.0.0-beta.1
    hooks:
      - id: biome-format
  # Hooks that are run for scripts
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.5.1
    hooks:
      - id: pyproject-fmt
        files: ^scripts/pyproject\.toml$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/
