repos:
  # Hooks that are run everywhere
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8 # Only update together with the pre-commit yaml in the tempalate!
    hooks:
      - id: prettier
  # Hooks that are run for scripts
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.5.0
    hooks:
      - id: pyproject-fmt
        files: ^scripts/pyproject\.toml$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^scripts/
      - id: ruff-format
        files: ^scripts/
