[build-system]
build-backend = "flit_core.buildapi"
requires = [
    "flit_core >=3.4,<4",
    "setuptools_scm",
    "importlib_metadata>=0.7; python_version < '3.8'",
]


[project]
name = "{{ cookiecutter.package_name }}"
description = "{{ cookiecutter.project_description }}"
authors = [
  {name = "{{ cookiecutter.author_full_name }}"},
]
maintainers = [
  {name = "{{ cookiecutter.author_full_name }}", email = "{{ cookiecutter.author_email }}"},
]
requires-python = ">=3.7"
license = {file = "LICENSE"}
readme = "README.md"
dependencies = []
dynamic = ["version"]

[project.urls]
Documentation = "https://{{ cookiecutter.project_name }}.readthedocs.io/"
Source = "{{ cookiecutter.project_repo }}"
Home-page = "{{ cookiecutter.project_repo }}"

[project.optional-dependencies]
dev = [
    # dev version generation
    "setuptools_scm",
]
doc = [
    "sphinx",
]
test = [
    "pytest",
    "pytest-cov",
]

[tool.coverage.run]
source = ["{{ cookiecutter.package_name }}"]
omit = [
	"**/test_*.py",
]

[tool.pytest.ini_options]
testpaths = [
  "tests",
]

[tool.isort]
multi_line_output = 3
profile = "black"
skip = ""
