name: make cruft PRs for all projects using us
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      release:
        description: "Tag of the release PRs should me made for"
        type: string
        required: true
jobs:
  cruft-prs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set git identity
        run: |
          git config --global user.name "scverse-bot"
          git config --global user.email "108668866+scverse-bot@users.noreply.github.com"
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
      - name: Update template repo registry
        run: uvx --from ./scripts send-cruft-prs ${{ env.RELEASE }} --all_repos --log-dir log
        env:
          RELEASE: ${{ github.event_name == 'release' && github.event.release.tag_name || github.event.inputs.release }}
          GITHUB_TOKEN: ${{ secrets.BOT_GH_TOKEN }}
          FORCE_COLOR: "1"
          COLUMNS: "150"
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cruft-logs
          path: log/
