name: pre-commit autoupdate for template

on:
  push:
    branches:
      - pre-commit-ci-update-config

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.BOT_GH_TOKEN }}
      - run: pipx install pre-commit
      - run: cd '{{cookiecutter.project_name}}' && pre-commit autoupdate
      - uses: stefanzweifel/git-auto-commit-action@v5
