name: Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:

    test:
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: bash -e {0}  # -e to fail on error

        strategy:
            fail-fast: false
            matrix:
                python: ['3.8', '3.10']
                os: [ubuntu-latest, macos-latest]
        env:
            PROJECT_ROOT: project-name

        steps:
        -   uses: actions/checkout@v2
        -   name: Set up Python ${{ matrix.python }}
            uses: actions/setup-python@v2
            with:
                python-version: ${{ matrix.python }}

        -   name: Get pip cache dir
            id: pip-cache-dir
            run: |
                echo "::set-output name=dir::$(pip cache dir)"
        -   name: Restore pip cache
            uses: actions/cache@v2
            with:
                path: ${{ steps.pip-cache-dir.outputs.dir }}
                key: pip-${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('**/pyproject.toml') }}
                restore-keys: |
                    pip-${{ runner.os }}-${{ env.pythonLocation }}-
        -   name: Install dependencies
            run: python -m pip install --upgrade pip wheel cookiecutter pre-commit
        -   name: Build from template
            run: cookiecutter --no-input .
        -   name: Run pre-commit
            run: |
                cd "$PROJECT_ROOT"
                git add .
                pre-commit run --color=always --show-diff-on-failure --all-files
        -   name: Install the package
            run: |
                cd $PROJECT_ROOT
                pip install .'[doc]'
                python -c "import project_name"
        -   name: Build the documentation
            env:
                SPHINXOPTS: -W --keep-going
            run: |
                cd "$PROJECT_ROOT/docs"
                make html
